1. Write a program to accept percentage from the user and display the grade according to the following criteria.

In [1]:
#Ans:-

marks = int(input("enter your marks"))

if marks>90:
    print('grade = A')
elif marks>80 and marks<=90:
    print('grade = B')
elif marks>=60 and marks<=80:
    print('grade = C')
elif marks<60:
    print('grade = D')

enter your marks 90

grade = B

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria.

In [1]:
cost_price = int(input('enter the cost price of the bike'))
tax = 0
if cost_price>100000:
    tax = tax + (.15*cost_price)
elif cost_price>50000 and cost_price<=100000:
    tax = tax + (.10*cost_price)
elif cost_price<=50000:
    tax = tax + (.05*cost_price)
print('tax to be paid = ',tax)

enter the cost price of the bike 120000

tax to be paid =  18000.0

3. Accept any city from the user and display monuments of that city.

In [5]:
city = input('enter your city')

if city == delhi:
    print('monument - Rad fort. You must visit there')
elif city == agra:
    print('monument - taj mahal. You must visit there')
elif city == jaipur:
    print('monument - jal mahal. You must visit there')
else :
    print('visit delhi or agra or jaiput')

enter your city agra

NameError: name 'delhi' is not defined

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [10]:
n = int(input('enter the number'))
count = 0
while n>10:
    n=n/3
    count=count+1
print(count-1)

enter the number 99

2

5. Why and when to use while loop in python give a detailed description with example.

In [13]:
'Ans:- Python while loop is used to run a block code until a certain condition is met.'
i = 1
n = 5

while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

16. Use nested while loop to print 3 different pattern.

In [14]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print("")
    i -= 1

*****
****
***
**
*

In [16]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        if (i + j) % 2 == 0:
            print("1", end=" ")
        else:
            print("0", end=" ")
        j += 1
    print("")
    i += 1

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

7. Reverse a while loop to display numbers 10 to 1.